<div class="l-resume__wrapper">
	<h1>Lorem Ipsum</h1>
	<h2>Front End Web Developer</h2>
	
	<div class="l-resume__category">
		<h3>PERSONAL INFORMATION</h3>
		
		<ul class="l-resume__category-list">
			<li><span>Telephone</span></li>
			<li><span>E-mail</span></li>
			<li><span>Nationality</span></li>
			<li><span>Date of birth</span></li>
			<li><span>Gender</span></li>
			<li><span>Driving License</span></li>
			<li><span>Personal Website</span></li>
		</ul>
		<ul class="l-resume__detail-list">
			<li><p>Mobile: (+33) 601851670</p></li>
			<li><p>vangelis@cloudnine.gr</p></li>
			<li><p>French</p></li>
			<li><p>15 June 1987</p></li>
			<li><p>Male</p></li>
			<li><p>Category B</p></li>
			<li><p>http://www.natankerbellec.com</p></li>
		</ul>
	</div>
	<div class="l-resume__category">
		<h3>PERSONAL STATEMENT</h3>
		
		<ul class="l-resume__detail-list">
			<li>
				<p>
				   A bright, ambitious and self-motivated web developer with many years of experience in a plethora of diverse
				   projects. Vangelis possesses self-discipline and the ability to work with the minimum of supervision. Able to
				   play a key role throughout a sites development to ensure maximum accessibility, customer experience and
				   usability. He is deadline orientated and has the ability to produce detailed technical specifications from client
				   requirements. A quick learner who can absorb new ideas and can communicate clearly and effectively.
				   Currently looking for an opportunity to join an enthusiastic team who enjoy what they do in an ambitious,
				   growing company and forge a career as a first class website designer-developer.
			   </p>
			</li>
	   </ul>
	</div>
	<div class="l-resume__category">
		<h3>WORK EXPERIENCE</h3>
		
		<ul class="l-resume__category-list">
			<li><span>Position<br>Activities</span></li>
		</ul>
		
		<ul class="l-resume__detail-list">
			<li>
				<div class="l-resume__date">2011 - Today</div>
				<p>Founder & Owner of “cloudnine” studio, Freelancer</p>
			</li>
		</ul>
	</div>
</div>
 <!--

2006 - Today
Founder & Owner of “cloudnine” studio, Freelancer
• Meeting with customers to analyse their needs.
• Coming up with cost estimates for new website building projects.
• Turning broad, conceptual ideas into highly creative visual websites.
• Advising clients on website functionality and make suggestions for improvements in technology, content and
user interaction.
• Ongoing design and maintenance of new and existing websites.
• Designing, developing and customising templates for open source content management systems e.g
Wordpress, Joomla, OpenCart.
• Helping small to medium businesses setting up their first online store, consulting on cost effective solutions
and undertaking the implementation.
• Fixing problems encountered in the functioning of websites.
• Providing customer support and after sales service.
• Providing web hosting services to customers via external partnership. Setting up, managing their hosting
accounts.
Employer Self employed
Sector Information Technology, World Wide Web
2004 - 2006
Position Co-Founder of “INTELWEB”, Project Manager, Web Developer
Activities • Meeting with customers to analyse their needs.
• Taking ownership of projects and see them through to completion.
• Designing, developing websites and micro-sites.
• Testing websites for functionality in different browsers, fixing problems encountered.
Employer INTELWEB
Sector Information Technology, World Wide Web
2003 - 2004
Position Senior Web Developer, Webmaster
Activities • Maintaining corporate website and enhancing its functionality.
• Updating content and graphics.
• Creating Flash banners as promotional material.
Employer GREECECALL S.A.
Sector Telecommunications, Mobile Marketing
1
EDUCATION & TRAINING
2001 - 2002
Qualification MSc Business Information Technology
University Kingston University - London
Dissertation “Evaluation of the Use of Location Information in Emergency Services in Europe”
Keywords: Location Based Services (LBS), location technologies, enhanced emergency services
1996 - 2001
Qualification BSc Economics
University Aristotle University of Thessaloniki
LANGUAGES
Native Language Greek
Other language(s) English (very good)
SKILLS & COMPETENCIES
Personal Skills • Responsible, rigorous and self-discipline.
• Good analytical and problem-solving abilities.
• Good time planning abilities, multitask person.
• Able to work in a fast paced environment & complete projects to schedule.
• Proven ability to design, code and build web sites and web applications.
• Some project management skills and ability to manage own projects.
• Ability to establish and maintain good working relations with people of different national and cultural
backgrounds.
Technical Skills • Good knowledge of computer hardware and peripherals, able to use it effectively or even fix some tiny
problems independently.
COMPUTER SKILLS
Scripting - Programming HTML, CSS, Sass, XML, Javascript, jQuery, PHP, SQL, Actionscript,
GreenSock animation platform (GSAP)
CMS Wordpress, Joomla, Opencart, CMS Customizations, Templates design/development
Frameworks CSS Frameworks (Zurb Foundation, Twitter Bootstrap, Yahoo Pure), Cake PHP,
Currently learning Meteor.js
Applications Adobe Creative Suite, Affinity Designer, Coda, Codekit
Operating Systems Windows, Mac OSX
2 -->
