<div class="header__cover">
	<h1 class="header__logo">FilmCo.</h1>	
</div>

<nav class="header__nav">
	<ul>
	    <li class="header__nav-item"><a href="#">WORK</a></li>
	    <li class="header__nav-item"><a href="#">DIRECTORS</a></li>
	    <li class="header__nav-item"><a href="#">NEWS</a></li>
	    <li class="header__nav-item"><a href="#">ABOUT</a></li>
	    <li class="header__nav-item"><a href="#">CONTACT</a></li>
	</ul>
</nav>
