section.blog-preview {

	article {

		background-color: white;
		margin: 20px 0px;

		.slider__item {
			position: relative;
			color: white;
		}
		
		.slider__item-information {
			position: absolute;
			padding: 20px;
		}
		
		.slider__item-text {
			margin: 0px;
			background-color: $middlegrey;
			padding: 8px;
		}

		.slider__item-label {
			max-width: 135px;
		}
		
		.blog-preview__article-description {
			padding: 30px;
		}
		
		.blog-preview__article-content {
			margin-bottom: 20px;
		}
	}

}