	footer {

	background-color: $footergrey;
	padding: 30px;
	display: flex;
	flex-flow: row wrap;
	
	.footer__item {
		flex: auto;
	}
	
	.footer__item-content {
		font-size: 13px;
		line-height: 1.3em;
	}

	.footer__item h5 {
		margin-top: 0;
	}

	.footer__item-menu {

		li a:hover {
			color: $green;
		}
	}

}