<div class="footer__item">
    <h5>NAVIGATION</h5>
    <ul class="footer__item-content footer__item-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Directors</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>

<div class="footer__item">
    <h5>LOCATION</h5>
    <div class="footer__item-content">
        <p>48 Beak Street<br>London<br>W1F 9RL</p>
    </div>
</div>

<div class="footer__item">
    <h5>CONTACT</h5>
    <div class="footer__item-content">
        <span>Jason Mitchelle</span><br><span>CEO</span><br><a href="mailto:jason.mitchelle27@example.com">e: jason.mitchelle27@example.com</a>
    </div>
</div>

<div class="footer__item">
    <h5>NEWSLETTER</h5>
    <form action="./" method="post">
        <input type="email" name="email">
        <input type="submit" value="SUBMIT" class="btn">
    </form>
</div>